body{
    width: 100%;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 18px;
    background: none;
}

.counter{
    display: flex;
    justify-content: center;
}

.btn-count {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.num-count{
    display: inline;
    margin-left: 8px;
    font-size: 23px;
}